
@import '../../styles/variables';

#back-bttn {
  width: 180px;
  height: 60px;
  color: $dark-charcoal;
  background-color: transparent;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: -10%;

  &:hover {
    cursor: pointer;
  }

}

#back-arrow {
  width: 25px;
  padding-right: 10px;
}


@media screen and (max-width: 800px) {

  #back-bttn {
    margin-left: 10px;
  }

}
