
@import '../../styles/variables';

#back-bttn {
  width: 180px;
  height: 60px;
  color: $dark-charcoal;
  background-color: transparent;
  border: 2px solid transparent;
  position: absolute;
  top: 10%;
  left: 3%;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

}

#back-arrow {
  width: 25px;
  padding: 10px;
}
