
<div id="modal-container">
  <h2 mat-dialog-title>USDA Food Composition Database</h2>

  <mat-dialog-content>

    <div id="search-input">
      <input #foodInput type="text" placeholder="search for a food item...">
      <button type="button" name="button" (click)="searchFoods(foodInput.value)">Search</button>
    </div>

    <select #foodSelection id="food-results" size="10">
     <option *ngFor="let result of resultList" [value]="result.ndbno">{{result.name}}</option>
   </select>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button id="select-bttn" (click)="selectItem(foodSelection.value)">Select</button>
    <button id="close-bttn" (click)="close()">Close</button>
  </mat-dialog-actions>
</div>
