<div class="row">
  <input id="description-input" class="col1" type="text" placeholder="search for a food item..." (click)="openModal()">
  <select class="col2" id="measurement-select" name="measurement">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
  </select>
  <input class="col3" id="qty-input" type="text" value="1">
  <div class="col4">
    <button class="save-bttn" type="button" name="button" (click)="saveNewItem()">Save</button>
    <button class="cancel-bttn" type="button" name="button" (click)="cancelNewItem()">Cancel</button>
  </div>
</div>
