@import '../../styles/variables';
@import '../../styles/mixins';

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $charcoal;
  height: 3em;
}

.col1 {
  flex-basis: 45%;
  text-align: left;
  padding-left: 1em;
}
.col2 {
  flex-basis: 25%;
  text-align: center;
  margin: 0 20px;
}
.col3 {
  // flex-basis: 10%;
  text-align: center;
  margin: 0 5px;
}
.col4 {
  flex-basis: 15%;
  text-align: right;
  white-space: nowrap;
}

#description-input {
  height: $meal-input-height;
  width: 100%;
}

#measurement-select {
  height: $meal-input-height;
  width: 100%;
}

#qty-input {
  height: $meal-input-height;
  width: 30px;
}

.save-bttn {
  background-color: $technipurple;
  color: white;
  height: $meal-input-height;
  border: 0px solid transparent;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }
}

.cancel-bttn {
  border: 0px solid transparent;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}
