

<div class="table-header">
  <h1 id="meals-header">Meals</h1>
  <div class="action-buttons">
    <a href="#">
      <div class="new-folder">
        <img src="./assets/images/new-folder-plus.svg" alt="new folder">
        <p>new folder</p>
      </div>
    </a>
    <a href="#">
      <img class="edit-icon" src="./assets/images/edit-solid.svg" alt="edit">
    </a>
  </div>
</div>

<div class="folder-group">
  <img src="./assets/images/folder-regular.svg" alt="folder">
  Usual snacks
</div>
<div class="folder-group">
  <img src="./assets/images/folder-regular.svg" alt="folder">
  Lunches
</div>

<div>

</div>
