
@import '../../variables';
@import '../../mixins';

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $charcoal;
  margin-top: 5em;
  margin-bottom: 15px;
  height: 50px;

  #meals-header {
    margin-left: 0.8em;
    font-size: 2em;
  }

}



.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1em;
}

.new-folder {
  display: flex;
  align-items: center;
  width: 100px;

  p {
    margin-left: 5px;
  }
}

.folder-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
  width: 100%;

  .title-group {
    display: flex;
    align-items: center;
    padding: 0em 1em;
    border: 3px solid transparent;

    &:hover {
      border: 3px solid $technipurple;
      border-radius: 5px;
      transition: 0.5s;
      cursor: pointer;
    }
  }

  .folder-icon {
    width: 40px;
    margin-right: 1em;
  }
}


a {
  color: black;
}

.meal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1em 0em;
  font-size: 1em;

  .description {
    padding-left: 3em;
  }

  &:hover {
    cursor: pointer;
  }
}

.add-item {
  @include add-item;
}

.new-meal-container {
  margin-left: 3em;
}

.meal-input {
  width: 50%;
  height: $meal-input-height;
  border-radius: 3px;
  border: 2px solid $charcoal;
  padding-left: 10px;
}

.save-bttn {
  background-color: $technipurple;
  color: white;
  height: $meal-input-height;
  border: 0px solid transparent;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }
}

.cancel-bttn {
  border: 0px solid transparent;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.edit-input-group {
  flex-grow: 1;
  padding-left: 3em;
}

.edit-icon {
  margin-right: 5px;
  height: 18px;

  &:hover {
    cursor: pointer;
  }
}

.delete-icon {
  height: 18px;

  &:hover {
    cursor: pointer;
  }
}
