
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
  margin-top: 5em;
  height: 50px;
  // border: 2px solid cyan;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1em;
}

.new-folder {
  display: flex;
  align-items: center;
  width: 100px;

  p {
    margin-left: 5px;
  }
}


.edit-icon {
  margin-left: 5em;
  width: 25px;
}

a {
  color: black;
}
