<div id="table">
  <div id="table-header">
    <b class="col1">Description</b>
    <b class="col2">Measurement</b>
    <b class="col3">Qty</b>
    <div class="col4"></div>
  </div>
  <div class="row" *ngFor="let food of itemList">
    <p class="col1">{{food.description}}</p>
    <p class="col2">{{food.measurement}}</p>
    <p class="col3">{{food.qty}}</p>
    <div class="col4 edit-group">
      <img class="edit-icon" src="./assets/images/edit-solid.svg" alt="edit" (click)="updateItem(food.ndbno)">
      <img class="delete-icon" src="./assets/images/trash-alt-regular.svg" alt="delete" (click)="deleteItem(food.ndbno)">
    </div>
  </div>
</div>
<app-new-row *ngIf="addOn" (additionDone)="additionDone($event)"></app-new-row>
<app-add-item-bttn (click)="addNewItem()"></app-add-item-bttn>
