
@import '../styles/variables';

* {
  color: $dark-charcoal;
}

#table-container {
  margin-bottom: 5em;
}



@media screen and (max-width: 800px) {
  h1 {
    width: 100%;
    text-align: center;
  }
}
